---


---
<!doctype html>
<html style="scroll-behavior: smooth;">
	<head>
		 <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" href="{{website.url}}/includes/assets/css/styles.css">
		{% include "components/metadata.njk" %}
	</head>
	<body class="home_page"> 
		<!--<img class="background" src="{{website.url}}/includes/assets/images/HORIZON.jpg">-->
		{% include "components/header.njk" %}

		{{ content | safe }}

		<nav class="chapter_box">
		{%- for chapter in collections.chapters | reverse %}
			<img id="{{ loop.index }}" class="background" src="{{website.url}}{{ chapter.url }}/icon.jpg">
			<a href="{{ website.url }}{{ chapter.url }}" class="chapter"
			onmouseover="document.getElementById('{{ loop.index }}').style.animation = '0.5s ease-in-out 0s 1 normal forwards running fadein';" 
			onmouseout="document.getElementById('{{ loop.index }}').style.animation = '0.5s ease-in-out 0s 1 normal forwards running fadeout'"> 
				{{ chapter.data.title | upper }}
			</a>
		{%- endfor %}
		</nav>

	{% include "components/footer.njk" %}
	</body>
</html>