<footer class="footer">
	<p>©2020 LUC BORELL · <a href="mailto:" style="color: #272727">Email@email.com</a></p>
	<p><a href="{{website.url}}/copyright " style="color: #272727">Propriété Intellectuelle, Droit d'Auteur</a></p>
</footer>
<div class="back_to_top" onclick="window.scrollTo({ top: 0, left: 0, behavior: 'smooth'});"><span></span></div>