<header id="header" class="header">
	<div class="header_inner">
	<a class="logo" href="{{website.url}}/">LUC&nbsp;BORELL</a>
	<nav class="nav_bar">
		<a class="nav_item" href="{{website.url}}/bio">Artiste&nbsp;Digital</a>
		<span class="nav_separator">/</span>
		<a class="nav_item" href="{{website.url}}/gallery">Collections</a>
		<!-- <a class="nav_item" href="{{website.url}}/movies">Movies</a> -->
	</nav>
	</div>
</header>
<div class="header_sub_bar">
	<!-- href="https://www.pcagalleryart.com/" -->
	<p>Impression d'Art / <a style="color:#333333" target="_blank" href="https://www.pcagalleryart.com/lucborell-art-digital">pcagalleryart.com</a></p>
</div>