<header id="header" class="header">
	<div class="header_inner">
	<a class="logo" href="{{website.url}}/">LUCBORELL</a>
	<nav class="nav_bar">
		<a class="big_nav_item" href="{{website.url}}/bio">ARTISTE&nbsp;DIGITAL</a>
		<span class="nav_separator">/</span>
		<a class="big_nav_item" href="{{website.url}}/gallery">COLLECTIONS</a>
		<!-- <a class="nav_item" href="{{website.url}}/movies">Movies</a> -->
	</nav>
	</div>
</header>
<div class="header_sub_bar">
	<!-- href="https://www.pcagalleryart.com/" -->
	<p><a style="color:#333333" target="_blank" href="https://www.pcagalleryart.com/lucborell-art-digital">Éditions d'Art / pcagalleryart.com</a></p>
</div>